<div class="page-container" [class]="currentSelection">
    <div class="view-selector">
        <div class="view-container">
            <div #macro class="btn btn-2" [class.selected]="isSelected('macro')" (click)="updateSelection('macro')">Macro</div>
            <div #landscape class="btn btn-2" [class.selected]="isSelected('landscape')" (click)="updateSelection('landscape')">Landscape</div>
            <div #portrait class="btn btn-2" [class.selected]="isSelected('portrait')" (click)="updateSelection('portrait')">Portrait</div>
            <div #creative class="btn btn-2" [class.selected]="isSelected('creative')" (click)="updateSelection('creative')">Creative</div>
            <div #auto class="btn btn-2" [class.selected]="isSelected('automotive')" (click)="updateSelection('automotive')">Auto</div>
        </div>
    </div>


    <div class="gallery-container" *ngIf="this.currentSelection as selection">
        <div class="header">
            <div>{{ this.currentSelection.toUpperCase() }}</div>
        </div>
        <div class="line"></div>
        <div class="gallery" >
            <div class="main-image" [class]="selection" *ngIf="this.currentGallery" [style.backgroundImage]="'url(' + this.currentGallery.mainPhoto + ')'" [@slideFade]>
                <div class="view-more-overlay">
                    <button class="view-more-btn">View More</button>
                </div>
            </div>
            
        </div>
    </div>
</div>