@use "../../../assets/scss/variables";
.page-container {
    // Define reusable variables
    $gallery-gap: 10px;
    $lightbox-bg: rgba(0, 0, 0, 0.8);
    $hover-scale: 1.1;
    $transition-duration: 0.3s;
    $button-size: 2rem;
    min-width: 100vw;
    min-height: 100%;
    display: flex;

    align-items: center;
    color: var(--text-color);
    .view-selector {
        flex: 0.5;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;

        height: 100vh;
        /* background: var(--gallery-selection-bg); */

        overflow: hidden;
        z-index: 500;

        .view-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;

            .btn {
                cursor: pointer;
                font-size: 16px;
                text-align: center;
                font-weight: 400;
                line-height: 45px;
                margin-top: 25px;
                margin-bottom: 25px;
                min-width: 250px;
                position: relative;
                text-decoration: none;
                text-transform: uppercase;
                width: 100%;
            }
            &::-webkit-scrollbar {
                display: none;
                visibility: none;
            }

            .btn-2 {
                letter-spacing: 0;
                transition: all 280ms ease-in-out;
                &:hover,
                &:active {
                    letter-spacing: 5px;
                    transition: all 280ms ease-in-out;
                }

                &::before {
                    backface-visibility: hidden;
                    border: 1px solid rgba(#fff, 0);
                    bottom: 0px;
                    content: " ";
                    display: block;
                    margin: 0 auto;
                    position: relative;
                    transition: all 280ms ease-in-out;
                    width: 0;
                }

                &::after {
                    backface-visibility: hidden;
                    border: 1px solid rgba(#fff, 0);
                    bottom: 0px;
                    content: " ";
                    display: block;
                    margin: 0 auto;
                    position: relative;
                    transition: all 280ms ease-in-out;
                    width: 0;
                }

                &:hover {
                    &::before,
                    &::after {
                        backface-visibility: hidden;
                        border-color: var(--text-color);
                        transition: width 350ms ease-in-out;
                        width: 70%;
                    }

                    &::before {
                        bottom: auto;
                        top: 0;
                        width: 70%;
                    }
                }

                &.selected {
                    &::before,
                    &::after {
                        backface-visibility: hidden;
                        border-color: var(--text-color);
                        transition: width 350ms ease-in-out;
                        width: 70%;
                    }

                    &::before {
                        bottom: auto;
                        top: 0;
                        width: 70%;
                    }
                }
            }
        }

        .selector-graphic-container {
            display: flex;
            border: rgb(241, 0, 0) solid 1px;
            box-sizing: border-box;
            position: relative;
            top: 0;
            left: 0;
            max-width: 100%;
            width: 100%;
            height: 68px;
            max-height: 68px;
            overflow-x: visible;
        }
    }

    .gallery-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: calc(100vh - 50px);
        flex: 3.5;
        .header {
            position: relative;
            font-size: 28px;
            width: 90%;
            text-align: left;
            div {
                letter-spacing: 0px;
                transition: 0.25s ease all;
                &.selected {
                    letter-spacing: 2px;
                    animation: spreadText 0.5s ease;
                }
            }
        }
        .line {
            position: relative;
            display: block;
            height: 3px;
            width: 90%;
            background: var(--gallery-underline);
        }
        .gallery {
            display: flex;
            position: relative;
            margin-top: 50px;

            min-height: 800px;
            min-width: 90%;
            .main-image {
                display: block;

                position: relative;
                height: auto;
                min-width: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 8px;
                box-shadow:
                    0 8px 15px rgba(0, 0, 0, 0.2),
                    0 4px 6px rgba(0, 0, 0, 0.1);
                transition:
                    box-shadow 0.3s ease,
                    transform 0.3s ease;
                transform: perspective(1000px) rotateX(0) rotateY(0); /* Initial state */
                .view-more-overlay {
                    display: flex;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    height: 100%;
                    min-width: 100%;
                    border-radius: 8px;
                    background: #0000009e;
                    transition: all 0.25s ease;

                    justify-content: center;
                    align-items: center;

                    .view-more-btn {
                        background: rgba(255, 255, 255, 0.2); /* Transparent white background */
                        backdrop-filter: blur(10px); /* Glassmorphism blur effect */
                        border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border for depth */
                        color: white;
                        font-size: 18px;
                        font-weight: lighter;
                        padding: 12px 24px;
                        border-radius: 4px; /* Rounded edges for smooth look */
                        text-transform: uppercase;
                        cursor: pointer;
                        transition:
                            transform 0.3s ease,
                            box-shadow 0.3s ease;
                        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Adds depth */
                        transition: all 0.25s ease;
                        &:hover{
                            transition: all 0.25s ease;
                            transform: translateY(-3px) scale(1.05); /* Subtle lift effect */
                            box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3); 
                            letter-spacing: 5px;
                        }

                        &:active {
                            transition: all 0.25s ease;
                            transform: translateY(0) scale(0.98); /* Pressed effect */
                            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
                        }
                    }
                }
                &:hover {
                    box-shadow:
                        0 12px 20px rgba(0, 0, 0, 0.3),
                        0 6px 8px rgba(0, 0, 0, 0.15);

                    .view-more-overlay {
                        transition: all 0.25s ease;
                        opacity: 1;
                    }
                }
                &.portrait {
                    background-position: 0% 25%;
                }

                &.automotive {
                    background-position: 0% 100%;
                }
            }
        }
    }

    .lightbox {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: $lightbox-bg;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;

        &-content {
            position: relative;
            max-width: 80%;
            max-height: 80%;
            text-align: center;

            img {
                max-width: 100%;
                max-height: 100%;
            }

            p {
                margin-top: 10px;
                color: #fff;
            }

            .prev-btn,
            .next-btn {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background: none;
                border: none;
                color: white;
                font-size: $button-size;
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }
            }

            .prev-btn {
                left: 10px;
            }

            .next-btn {
                right: 10px;
            }
        }
    }

    @keyframes spreadText {
        0% {
            letter-spacing: 0px;
        }
        50% {
            letter-spacing: 5px;
        }
        100% {
            letter-spacing: 2px;
        }
    }
}
