$textSmall: 14px;
$textMedium: 24px;
$textLarge: 36px;

$baseLayer: 0;

// main layer one (with three z-options)
$layerOne: 100;
$layerTwo: 200;
$layerThree: 300;

// main layer two (with three z options)
$upperOne: 400;
$upperTwo: 500;
$upperThree: 600;

$bottomRightShadow: 5px 5px 4px 2px rgba(0, 0, 0, 0.368);
