main {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  overflow: visible;
}
main .navigation-expanded {
  position: fixed;
  background: rgba(9, 8, 8, 0.63);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 90vh;
  z-index: 9999;
  top: 6vh;
  left: -375px;
  border-radius: 25px;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  gap: 25px;
}
main .navigation-expanded .filler {
  flex: 1;
}
main .navigation-expanded a {
  transition: all 0.2s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 10px;
  flex: 1;
  font-size: 20px;
  text-decoration: none;
  color: rgb(220, 220, 220);
  width: 85%;
  border-radius: 10px;
  background: rgba(15, 15, 15, 0.63);
}
main .navigation-expanded a:hover {
  transition: all 0.1s ease-in;
  transform: scale(0.9);
  background: rgba(62, 62, 62, 0.63);
  color: white;
}
main .navigation-expanded .wrapper {
  padding-top: 40px;
  text-align: center;
}
main .navigation-expanded .toggle {
  position: relative;
  display: inline-block;
  width: 100px;
  margin-left: 100px;
  padding: 4px;
  border-radius: 40px;
}
main .navigation-expanded .toggle:before,
main .navigation-expanded .toggle:after {
  content: "";
  display: table;
}
main .navigation-expanded .toggle:after {
  clear: both;
}
main .navigation-expanded .toggle-bg {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 100%;
  height: 100%;
  background-color: #c0e6f6;
  border-radius: 40px;
  border: 4px solid #81c0d5;
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
main .navigation-expanded .toggle-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  border-radius: 40px;
  z-index: 2;
  opacity: 0;
}
main .navigation-expanded .toggle-switch {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 50px;
  background-color: #f5eb42;
  border: 4px solid #e4c74d;
  border-radius: 50%;
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
main .navigation-expanded .toggle-switch-figure {
  position: absolute;
  bottom: -14px;
  left: -50px;
  display: block;
  width: 80px;
  height: 30px;
  border: 8px solid #d4d4d2;
  border-radius: 20px;
  background-color: #fff;
  transform: scale(0.4);
  transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
main .navigation-expanded .toggle-switch-figure:after {
  content: "";
  display: block;
  position: relative;
  top: -65px;
  right: -42px;
  width: 15px;
  height: 15px;
  border: 8px solid #d4d4d2;
  border-radius: 100%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ(70deg);
  background-color: #fff;
}
main .navigation-expanded .toggle-switch-figure:before {
  content: "";
  display: block;
  position: relative;
  top: -25px;
  right: -10px;
  width: 30px;
  height: 30px;
  border: 8px solid #d4d4d2;
  border-radius: 100%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ(30deg);
  background-color: #fff;
}
main .navigation-expanded .toggle-switch-figureAlt {
  content: "";
  position: absolute;
  top: 5px;
  left: 2px;
  width: 2px;
  height: 2px;
  background-color: #efeeda;
  border-radius: 100%;
  border: 4px solid #dee1c5;
  box-shadow: 42px -7px 0 -3px #fcfcfc, 75px -10px 0 -3px #fcfcfc, 54px 4px 0 -4px #fcfcfc, 83px 7px 0 -2px #fcfcfc, 63px 18px 0 -4px #fcfcfc, 44px 28px 0 -2px #fcfcfc, 78px 23px 0 -3px #fcfcfc;
  transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: scale(0);
}
main .navigation-expanded .toggle-switch-figureAlt:before {
  content: "";
  position: absolute;
  top: -6px;
  left: 18px;
  width: 7px;
  height: 7px;
  background-color: #efeeda;
  border-radius: 100%;
  border: 4px solid #dee1c5;
}
main .navigation-expanded .toggle-switch-figureAlt:after {
  content: "";
  position: absolute;
  top: 19px;
  left: 15px;
  width: 2px;
  height: 2px;
  background-color: #efeeda;
  border-radius: 100%;
  border: 4px solid #dee1c5;
}
main .navigation-expanded .toggle-input:checked ~ .toggle-switch {
  margin-left: 0;
  border-color: #dee1c5;
  background-color: #fffdf2;
}
main .navigation-expanded .toggle-input:checked ~ .toggle-bg {
  background-color: #484848;
  border-color: #202020;
}
main .navigation-expanded .toggle-input:checked ~ .toggle-switch .toggle-switch-figure {
  margin-left: 40px;
  opacity: 0;
  transform: scale(0.1);
}
main .navigation-expanded .toggle-input:checked ~ .toggle-switch .toggle-switch-figureAlt {
  transform: scale(1);
}
main header {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  min-width: 100%;
  height: 70px;
  max-height: 70px;
  z-index: 10000;
  overflow: visible;
  display: flex;
}
main header .navigation {
  z-index: 10000;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
main header .navigation .hamburger-button-wrapper {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 0.5;
  width: 100%;
  height: 100%;
}
main header .navigation .hamburger-button-wrapper .hamburger-button {
  position: absolute;
  display: flex;
  min-height: 70px;
  min-width: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  align-items: center;
}
main header .navigation .hamburger-button-wrapper .hamburger-button:hover {
  cursor: pointer;
}
main header .navigation .hamburger-button-wrapper .hamburger-button .collapsed {
  transition: all 0.5s 0.25s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main header .navigation .hamburger-button-wrapper .hamburger-button .collapsed .bar {
  transition: all 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 40px;
  height: 5px;
  background: black;
  transform: translateX(0px);
}
main header .navigation .hamburger-button-wrapper .hamburger-button .collapsed .bar:nth-child(1) {
  transform: rotate(0);
}
main header .navigation .hamburger-button-wrapper .hamburger-button .collapsed .bar:nth-child(2) {
  top: 15px;
  opacity: 1;
}
main header .navigation .hamburger-button-wrapper .hamburger-button .collapsed .bar:nth-child(3) {
  top: 30px;
  transform: rotate(0);
}
main header .navigation .hamburger-button-wrapper .hamburger-button .collapsed .bar.active {
  position: absolute;
  top: 0;
  left: -20px;
  transition: all 0.3s ease;
  width: 40px;
  height: 5px;
  background: black;
}
main header .navigation .hamburger-button-wrapper .hamburger-button .collapsed .bar.active:nth-child(1) {
  min-width: 30px;
  height: 3px;
  transform: rotate(-45deg) scale(0.9);
}
main header .navigation .hamburger-button-wrapper .hamburger-button .collapsed .bar.active:nth-child(2) {
  transform: scale(0.9);
  opacity: 0;
}
main header .navigation .hamburger-button-wrapper .hamburger-button .collapsed .bar.active:nth-child(3) {
  min-width: 30px;
  height: 3px;
  transform: rotate(45deg) scale(0.9);
}
main header .navigation .filler {
  display: flex;
  flex: 8;
  min-height: 100%;
}
main header .navigation .logo {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1;
}
main header .navigation .logo img {
  max-height: 65px;
  max-width: 200px;
  width: 175px;
}
main .content {
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: "mundial";
}
main .content .main-title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 46px;
  margin-top: 45px;
  margin-bottom: 45px;
  font-weight: 200;
  letter-spacing: 5px;
  width: 100%;
  height: 5%;
  padding-bottom: 5px;
}
main .content .logo {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  width: 100%;
}
main .content .logo .row-one {
  margin-top: 20%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 5%;
}
main .content .logo .row-one img {
  position: relative;
  width: 350px;
  height: 350px;
}
main .content .logo .row-one img:nth-child(3) {
  margin-left: -20px;
}
main .content .stagger-text {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  top: 20%;
  left: 0;
  font-size: 200px;
  letter-spacing: 5px;
  color: rgb(224, 0, 0);
  width: 100%;
  height: 100%;
}
main .content .stagger-text .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main .main-content {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: visible;
  display: flex;
}
main.dark .navigation-expanded {
  background: rgba(9, 8, 8, 0.63);
}
main.dark .navigation-expanded a {
  background: rgba(15, 15, 15, 0.63);
  color: rgb(220, 220, 220);
}
main.dark .navigation-expanded a:hover {
  background: rgba(62, 62, 62, 0.63);
  color: white;
}
main.light .navigation-expanded {
  background: rgba(242, 224, 224, 0.63);
}
main.light .navigation-expanded a {
  background-color: rgba(199, 183, 183, 0.638);
  color: black;
}
main.light .navigation-expanded a:hover {
  background-color: rgba(219, 214, 214, 0.63);
}

@keyframes fadeInHeader {
  0% {
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
    z-index: 9999;
  }
}
@keyframes hoverHamburger {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=app.component.css.map */