<div class="page-container" >
    <div class="content-container-one" [@textAnimations]="this.isTriggered(scrollTriggerOne) == true ? 'enter' : 'leave'">
        <div class="dream-vision">"DREAMVISION"</div>
        <div class="definition def-somnio">
            <div class="row-one">
                <div class="def-text">latin [verb]</div>
            </div>
            <div class="row-two">
                <div class="def-text"> to <span>dream</span>, daydream, think idly </div>
            </div>
        </div>
        <div class="main">
            <div class="main-text">
                <div class="text">S</div>
                <div class="text">o</div>
                <div class="text">m</div>
                <div class="text">n</div>
                <div class="text">i</div>
                <div class="text">o</div>
                <div class="text">V</div>
                <div class="text">i</div>
                <div class="text">s</div>
                <div class="text">i</div>
                <div class="text">o</div>
            </div>
            <div class="main-text-shadow">
                <div class="text">S</div>
                <div class="text">o</div>
                <div class="text">m</div>
                <div class="text">n</div>
                <div class="text">i</div>
                <div class="text">o</div>
                <div class="text">V</div>
                <div class="text">i</div>
                <div class="text">s</div>
                <div class="text">i</div>
                <div class="text">o</div>
            </div>
        </div>
        <div class="definition def-visio">
            <div class="row-one">
                <div class="def-text"> sense of seeing, sight, <span>vision</span></div>
            </div>
            <div class="row-two">
                <div class="def-text">latin [noun]</div>
            </div>
        </div>
    </div>
    <div class="animation-container-one" #scrollTriggerOne [@wrapperScale]="this.isTriggered(scrollTriggerOne) ? 'enter' : 'leave'">
        <div class="wrapper-bg">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="large-filler"></div>
    <div class="animation-container-two">
       <!--  {{this.isTriggered(this.scrollTriggerTwo) }} -->
        <div class="left">
           <div class="svg-wrapper">

           </div>
        </div>
        <div class="right">
            <div class='title'>Hi. I am Mike. </div>
            <div class='paragraph'>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel velit quos magni facilis,
                fuga voluptate repellat, provident illo dolor culpa quidem repudiandae autem nisi quibusdam
                doloribus cumque illum. Dolore, saepe.
            </div>
        </div>
        <!-- <div class="middle-section"> -->
        <!-- <div class="card"></div> -->
        <!-- <div class="card"></div> -->
        <!-- <div class="card"></div> -->
        <!-- <div class="card"></div> -->
        <!-- <div class="card"></div> -->
        <!-- <div class="card"></div> -->
        <!-- </div> -->
    </div>

    <div class="animation-container-three">
        <div class="card-wrapper">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
        <div class="card-wrapper">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
        <div class="card-wrapper">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
    </div>
    <!-- <div class="large-filler"></div> -->
</div>