@use "../../../assets/scss/variables";
.page-container {
    .large-filler {
        position: sticky;
        top: 100vh;
        left: 0;
        min-height: 100vh;
        height: 100vh;
        width: 100vw;
    }

    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: variables.$baseLayer;
    overflow: visible;
    min-height: 100vh;
    z-index: -3000;
    min-width: 90vw;
    max-width: 100vw;

    .content-container-one {
        position: sticky;
        top: 0;
        left: 0;
        min-height: 100vh;
        max-height: 100vh;
        min-width: 80%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        max-width: 80%;
        z-index: variables.$baseLayer;
        .dream-vision {
            position: absolute;
            top: 10vh;
            left: 0vw;
            width: 100vw;
            max-width: 100vw;
            letter-spacing: 12px;
            font-weight: 500;
            font-size: 20px;
            z-index: variables.$baseLayer;
            &::after {
                content: "est. 2024";
                box-sizing: border-box;
                font-size: 10px;
                position: absolute;
                top: 100%;
                left: calc(17% + var(--letter-spacing));
                min-width: 10%;
                height: 10px;
                left: 15%;
                width: calc(17% + var(--letter-spacing));
                letter-spacing: 2px;
            }

            &::before {
                content: "";
                box-sizing: border-box;
                font-size: 10px;
                position: absolute;
                top: 125%;
                left: 6.25%;
                min-width: 10%;
                width: calc(10% + var(--letter-spacing));
                height: 10px;
                letter-spacing: 2px;
            }
        }
        .definition {
            position: relative;
            transition: all 1s ease;
            display: flex;
            flex-direction: column;
            flex: 0.5;
            min-width: 100%;
            width: 100%;
            font-size: 36px;
            font-weight: lighter;

            i {
                font-weight: bold;
                animation: prism 15s ease-in-out infinite;
            }
            &.def-somnio {
                align-items: flex-start;
                justify-content: flex-end;
                .row-one {
                    font-size: 28px;
                }
            }
            &.def-visio {
                align-items: flex-end;
                justify-content: flex-start;
                .row-two {
                    font-size: 28px;
                    .text {
                        transform: translateY(-12px);
                    }
                }
            }
        }
        .main {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0.5;
            z-index: variables.$baseLayer;
            width: 100%;
            overflow: visible;

            .main-text,
            .main-text-shadow {
                z-index: variables.$upperOne;
                position: absolute;
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;
                font-weight: bolder;
                letter-spacing: var(--letter-spacing);
                font-size: 228px;
                background: transparent;
            }
            .main-text-shadow {
                background: transparent;
                transform: translate(12px, 0px);
                z-index: variables.$baseLayer;
                opacity: 0.7;
                animation: prism-bg 27s 2s linear infinite;
            }
        }
        transition: all 0.3s ease;
    }

    .animation-container-one {
        position: sticky;
        top: 0;
        left: 0;
        z-index: -3000;

        display: flex;
        flex-direction: row;
        min-height: 100vh;
        max-height: 100vh;
        width: 100%;
        backdrop-filter: blur(30px);
        overflow: visible;

        .wrapper-bg {
            position: absolute;
            z-index: variables.$upperOne;
            left: 0;
            top: 0;
            min-width: 100%;
            height: 100%;
            flex-direction: row-reverse;
            overflow: visible;
            display: flex;
            div {
                position: relative;
                flex: 1;
                min-height: 100%;
                min-width: auto;
                display: flex;
                animation: prism-bg-header 10s linear infinite;
                @for $i from 1 to 21 {
                    &:nth-child(#{$i}) {
                        opacity: calc($i * (3 / 100));
                        transition: all 0.5s ease-out;
                        transform: rotateY(0deg) skewY(0deg);
                    }
                }
            }
        }

        &:after {
            content: "";
            z-index: variables.$upperOne;
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 5px;
            background: transparent;
            animation: prism-bg-header 10s infinite;
            overflow: visible;
        }
        &:before {
            content: "";
            z-index: 3000;
            display: flex;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 5px;
            background: transparent;
            animation: prism-bg-header 10s infinite;
            overflow: visible;
        }
    }

    .animation-container-two {
        opacity: 1;
        position: sticky;
        z-index: variables.$upperThree;
        top: 105vh;
        left: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 85vh;
        width: 85vw;
        margin-bottom: 7.5vh;
        border-radius: 10px;
        overflow: visible;

        $bg-gradient: linear-gradient(rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.3));
        background: $bg-gradient;

        backdrop-filter: blur(30px);
        box-shadow: -20px 20px 15px 10px rgba(0, 0, 0, 0.245);
        .left {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 8;
            min-width: 50%;

            height: 100%;
            z-index: variables.$upperTwo;
            background-repeat: no-repeat;
          
            overflow: visible;
            .svg-wrapper {
                position: absolute;
                z-index: 10000;
                top: 40px; left: -100px;
                width: 100%;
                height: 100vh;

                background-size: 600px 900px;
                background-repeat: no-repeat;
                background-image: url(../../../assets/svgs/camera_guy/cam_guy_better.svg);
                stroke-dashoffset: 50%;

                /* transform: translateX(-1000px); */

               
            }
        }

        .right {
            position: relative;
            flex: 4;
            min-height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .wrapper {
                width: 100%;
                height: 100%;
                position: relative;
                border-radius: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                background: rgba(255, 255, 255, 0.8);
                border-right: 2px solid rgb(0, 0, 0);
                border-bottom: 2px solid rgb(0, 0, 0);
                box-shadow: variables.$bottomRightShadow;
                color: rgb(0, 0, 0);
                backdrop-filter: blur(50px);

                .title {
                    position: relative;
                    width: 90%;
                    flex: 2;
                    font-weight: bold;
                    font-size: 33px;
                    margin: 10px;
                }

                .paragraph {
                    position: relative;
                    width: 90%;
                    flex: 6;
                    font-weight: lighter;
                    font-size: 22px;
                }
            }
        }
    }

    .animation-container-three {
        position: sticky;
        z-index: variables.$upperThree;
        top: 300vh;
        left: 50vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        min-height: 90vh;
        width: 80vw;
        max-width: 100vw;
        overflow: hidden;
        background: transparent;

        .middle-section {
            position: sticky;
            top: 0;
            left: 7.5vw;
            display: flex;
            align-items: center;
            gap: 30px;
            min-height: 90%;
            width: 85vw;
            overflow-y: visible;
            overflow-x: scroll;
            scroll-behavior: smooth;
            .card {
                min-width: 30vw;
                max-width: 30vw;
                height: 80vh;
                position: sticky;
                border-radius: 15px;
                box-shadow: 2px 2px 50px 30px rgba(0, 0, 0, 0.226);
                &:nth-child(1) {
                    background-size: cover;
                    left: 0;
                    background-position: 0%;
                    background-image: url(../../../assets/images/20240227-DSC03776.jpg);
                }

                &:nth-child(2) {
                    background-size: cover;
                    left: 5vw;
                    background-position: 48.25%;
                    background-image: url(../../../assets/images/20240227-DSC03776.jpg);
                }

                &:nth-child(3) {
                    background-size: cover;
                    background-position: 98%;
                    left: 10vw;
                    background-image: url(../../../assets/images/20240227-DSC03776.jpg);
                }

                &:nth-child(4) {
                    left: 15vw;
                    background-position: 33%;
                    background-size: 300% 100%;
                    background-attachment: scroll;
                    background-image: url(../../../assets/images/20240227-DSC03771.jpg);
                }

                &:nth-child(5) {
                    background-size: 300% 100%;
                    background-position: 60%;
                    background-image: url(../../../assets/images/20240227-DSC03771.jpg);
                }

                &:nth-child(6) {
                    background-size: 300% 100%;
                    background-position: 98%;
                    background-image: url(../../../assets/images/20240227-DSC03771.jpg);
                }

                transition: all 0.5s ease;
                /*   &:hover {
                        transform: rotate3d(1,0,0, 20deg) skewY(4deg);
                    } */
            }
        }
    }

}

@keyframes prism {
    0% {
        color: red;
    }
    14% {
        color: orange;
    }
    28% {
        color: yellow;
    }
    42% {
        color: green;
    }
    56% {
        color: blue;
    }
    70% {
        color: indigo;
    }
    100% {
        color: rgb(255, 0, 0);
    }
}
@keyframes prism-bg {
    0% {
        color: red;
    }
    14% {
        color: orange;
    }
    28% {
        color: yellow;
    }
    42% {
        color: green;
    }
    56% {
        color: blue;
    }
    70% {
        color: indigo;
    }
    100% {
        color: red;
    }
}
@keyframes prism-bg-main {
    0% {
        background: rgba(255, 0, 0, 0.2);
    }
    14% {
        background: rgba(255, 166, 0, 0.163);
    }
    28% {
        background: rgba(129, 129, 5, 0.154);
    }
    42% {
        background: rgba(0, 128, 0, 0.127);
    }
    56% {
        background: rgba(0, 0, 255, 0.178);
    }
    70% {
        background: rgba(76, 0, 130, 0.23);
    }
    100% {
        background: rgba(238, 130, 238, 0.108);
    }
}
@keyframes prism-bg-main-dark {
    0% {
        background: linear-gradient(to right, rgb(32, 11, 11), black 50%);
    }

    14% {
        background: linear-gradient(to right, rgb(32, 24, 11), black 50%);
    }
    28% {
        background: linear-gradient(to right, rgb(32, 11, 11), black 50%);
    }
    42% {
        background: linear-gradient(to right, rgb(32, 30, 11), black 50%);
    }
    56% {
        background: linear-gradient(to right, rgb(11, 32, 14), black 50%);
    }
    70% {
        transition: all 0.5s smooth;
        background: linear-gradient(to right, rgb(11, 31, 32), black 50%);
    }
    100% {
        transition: all 0.5s smooth;
        background: linear-gradient(to right, rgb(31, 11, 32), black 50%);
    }
}
@keyframes prism-bg-header {
    0% {
        background: red;
    }
    14% {
        background: orange;
    }
    28% {
        background: yellow;
    }
    42% {
        background: green;
    }
    56% {
        background: blue;
    }
    70% {
        background: indigo;
    }
    100% {
        background: red;
    }
}
