.page-container {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
  overflow-y: visible;
  min-height: 100vh;
  z-index: 0;
  min-width: 100vw;
  max-width: 100vw;
}
.page-container .content-container-one {
  position: sticky;
  top: 0;
  left: 0;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  z-index: 0;
  transition: all 0.3s ease;
}
.page-container .content-container-one .dream-vision {
  position: absolute;
  top: 10vh;
  left: 0vw;
  width: 100vw;
  max-width: 100vw;
  letter-spacing: 12px;
  font-weight: 500;
  font-size: 20px;
  z-index: 0;
}
.page-container .content-container-one .dream-vision::after {
  content: "est. 2024";
  box-sizing: border-box;
  font-size: 10px;
  position: absolute;
  top: 100%;
  left: calc(17% + var(--letter-spacing));
  min-width: 10%;
  height: 10px;
  left: 15%;
  width: calc(17% + var(--letter-spacing));
  letter-spacing: 2px;
}
.page-container .content-container-one .dream-vision::before {
  content: "";
  box-sizing: border-box;
  font-size: 10px;
  position: absolute;
  top: 125%;
  left: 6.25%;
  min-width: 10%;
  width: calc(10% + var(--letter-spacing));
  height: 10px;
  letter-spacing: 2px;
}
.page-container .content-container-one .definition {
  position: relative;
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  flex: 0.5;
  min-width: 100%;
  width: 100%;
  font-size: 36px;
  font-weight: lighter;
}
.page-container .content-container-one .definition i {
  font-weight: bold;
  animation: prism 15s ease-in-out infinite;
}
.page-container .content-container-one .definition.somnio {
  align-items: flex-start;
  justify-content: flex-end;
}
.page-container .content-container-one .definition.somnio .row-one {
  font-size: 28px;
}
.page-container .content-container-one .definition.visio {
  align-items: flex-end;
  justify-content: flex-start;
}
.page-container .content-container-one .definition.visio .row-two {
  font-size: 28px;
}
.page-container .content-container-one .definition.visio .row-two .text {
  transform: translateY(-12px);
}
.page-container .content-container-one .main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.5;
  z-index: 0;
  width: 100%;
  overflow: visible;
}
.page-container .content-container-one .main .main-text,
.page-container .content-container-one .main .main-text-shadow {
  z-index: 400;
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-weight: bolder;
  letter-spacing: var(--letter-spacing);
  transform: rotateX(var(--letter-spacing)deg);
  font-size: 228px;
}
.page-container .content-container-one .main .main-text-shadow {
  transform: translate(12px, 0px);
  z-index: 0;
  opacity: 0.7;
  animation: prism-bg 27s 2s linear infinite;
}
.page-container .animation-container-one {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  flex-direction: row;
  /*  margin-top: 10vh; */
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  overflow: visible;
  /*  .left {
       position: sticky;
       width: 50vw;
       top: 50vh;
       z-index: variables.$upperTwo;

       overflow: visible;
       .svg-container {
           z-index: variables.$upperTwo;
           position: absolute;
           bottom: 0;
           left: 0;
           width: 99%;
           height: 110%;

           background-size: cover;
           background-attachment: scroll;
           background-repeat: no-repeat;
           background-image: url("../../../assets/svgs/camera_guy/camera_guy_outline.svg");
       }
   } */
}
.page-container .animation-container-one .wrapper-bg {
  position: absolute;
  z-index: 400;
  left: 0;
  top: 0;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  overflow: visible;
}
.page-container .animation-container-one .wrapper-bg div {
  position: relative;
  flex: 1;
  min-height: 100%;
  min-width: auto;
  animation: prism-bg-header 10s linear infinite;
}
.page-container .animation-container-one .wrapper-bg div:nth-child(1) {
  opacity: 0.03;
  animation-delay: 1;
  /*    transition: all 2s ease-out;
     transform: rotateY(0deg) skewY(0deg);
     &:hover {
         transition: all 2s linear;
         transform-origin: center;
         z-index: 0;
         transform: rotateY(90deg) skewY(45deg);
     } */
}
.page-container .animation-container-one .wrapper-bg div:nth-child(2) {
  opacity: 0.06;
  animation-delay: 2;
  /*    transition: all 2s ease-out;
     transform: rotateY(0deg) skewY(0deg);
     &:hover {
         transition: all 2s linear;
         transform-origin: center;
         z-index: 0;
         transform: rotateY(90deg) skewY(45deg);
     } */
}
.page-container .animation-container-one .wrapper-bg div:nth-child(3) {
  opacity: 0.09;
  animation-delay: 3;
  /*    transition: all 2s ease-out;
     transform: rotateY(0deg) skewY(0deg);
     &:hover {
         transition: all 2s linear;
         transform-origin: center;
         z-index: 0;
         transform: rotateY(90deg) skewY(45deg);
     } */
}
.page-container .animation-container-one .wrapper-bg div:nth-child(4) {
  opacity: 0.12;
  animation-delay: 4;
  /*    transition: all 2s ease-out;
     transform: rotateY(0deg) skewY(0deg);
     &:hover {
         transition: all 2s linear;
         transform-origin: center;
         z-index: 0;
         transform: rotateY(90deg) skewY(45deg);
     } */
}
.page-container .animation-container-one .wrapper-bg div:nth-child(5) {
  opacity: 0.15;
  animation-delay: 5;
  /*    transition: all 2s ease-out;
     transform: rotateY(0deg) skewY(0deg);
     &:hover {
         transition: all 2s linear;
         transform-origin: center;
         z-index: 0;
         transform: rotateY(90deg) skewY(45deg);
     } */
}
.page-container .animation-container-one .wrapper-bg div:nth-child(6) {
  opacity: 0.18;
  animation-delay: 6;
  /*    transition: all 2s ease-out;
     transform: rotateY(0deg) skewY(0deg);
     &:hover {
         transition: all 2s linear;
         transform-origin: center;
         z-index: 0;
         transform: rotateY(90deg) skewY(45deg);
     } */
}
.page-container .animation-container-one .wrapper-bg div:nth-child(7) {
  opacity: 0.21;
  animation-delay: 7;
  /*    transition: all 2s ease-out;
     transform: rotateY(0deg) skewY(0deg);
     &:hover {
         transition: all 2s linear;
         transform-origin: center;
         z-index: 0;
         transform: rotateY(90deg) skewY(45deg);
     } */
}
.page-container .animation-container-one .wrapper-bg div:nth-child(8) {
  opacity: 0.24;
  animation-delay: 8;
  /*    transition: all 2s ease-out;
     transform: rotateY(0deg) skewY(0deg);
     &:hover {
         transition: all 2s linear;
         transform-origin: center;
         z-index: 0;
         transform: rotateY(90deg) skewY(45deg);
     } */
}
.page-container .animation-container-one .wrapper-bg div:nth-child(9) {
  opacity: 0.27;
  animation-delay: 9;
  /*    transition: all 2s ease-out;
     transform: rotateY(0deg) skewY(0deg);
     &:hover {
         transition: all 2s linear;
         transform-origin: center;
         z-index: 0;
         transform: rotateY(90deg) skewY(45deg);
     } */
}
.page-container .animation-container-one .wrapper-bg div:nth-child(10) {
  opacity: 0.3;
  animation-delay: 10;
  /*    transition: all 2s ease-out;
     transform: rotateY(0deg) skewY(0deg);
     &:hover {
         transition: all 2s linear;
         transform-origin: center;
         z-index: 0;
         transform: rotateY(90deg) skewY(45deg);
     } */
}
.page-container .animation-container-one .wrapper-bg div:nth-child(11) {
  opacity: 0.33;
  animation-delay: 11;
  /*    transition: all 2s ease-out;
     transform: rotateY(0deg) skewY(0deg);
     &:hover {
         transition: all 2s linear;
         transform-origin: center;
         z-index: 0;
         transform: rotateY(90deg) skewY(45deg);
     } */
}
.page-container .animation-container-one .wrapper-bg div:nth-child(12) {
  opacity: 0.36;
  animation-delay: 12;
  /*    transition: all 2s ease-out;
     transform: rotateY(0deg) skewY(0deg);
     &:hover {
         transition: all 2s linear;
         transform-origin: center;
         z-index: 0;
         transform: rotateY(90deg) skewY(45deg);
     } */
}
.page-container .animation-container-one .wrapper-bg div:nth-child(13) {
  opacity: 0.39;
  animation-delay: 13;
  /*    transition: all 2s ease-out;
     transform: rotateY(0deg) skewY(0deg);
     &:hover {
         transition: all 2s linear;
         transform-origin: center;
         z-index: 0;
         transform: rotateY(90deg) skewY(45deg);
     } */
}
.page-container .animation-container-one .wrapper-bg div:nth-child(14) {
  opacity: 0.42;
  animation-delay: 14;
  /*    transition: all 2s ease-out;
     transform: rotateY(0deg) skewY(0deg);
     &:hover {
         transition: all 2s linear;
         transform-origin: center;
         z-index: 0;
         transform: rotateY(90deg) skewY(45deg);
     } */
}
.page-container .animation-container-one .wrapper-bg div:nth-child(15) {
  opacity: 0.45;
  animation-delay: 15;
  /*    transition: all 2s ease-out;
     transform: rotateY(0deg) skewY(0deg);
     &:hover {
         transition: all 2s linear;
         transform-origin: center;
         z-index: 0;
         transform: rotateY(90deg) skewY(45deg);
     } */
}
.page-container .animation-container-one .wrapper-bg div:nth-child(16) {
  opacity: 0.48;
  animation-delay: 16;
  /*    transition: all 2s ease-out;
     transform: rotateY(0deg) skewY(0deg);
     &:hover {
         transition: all 2s linear;
         transform-origin: center;
         z-index: 0;
         transform: rotateY(90deg) skewY(45deg);
     } */
}
.page-container .animation-container-one .wrapper-bg div:nth-child(17) {
  opacity: 0.51;
  animation-delay: 17;
  /*    transition: all 2s ease-out;
     transform: rotateY(0deg) skewY(0deg);
     &:hover {
         transition: all 2s linear;
         transform-origin: center;
         z-index: 0;
         transform: rotateY(90deg) skewY(45deg);
     } */
}
.page-container .animation-container-one .wrapper-bg div:nth-child(18) {
  opacity: 0.54;
  animation-delay: 18;
  /*    transition: all 2s ease-out;
     transform: rotateY(0deg) skewY(0deg);
     &:hover {
         transition: all 2s linear;
         transform-origin: center;
         z-index: 0;
         transform: rotateY(90deg) skewY(45deg);
     } */
}
.page-container .animation-container-one .wrapper-bg div:nth-child(19) {
  opacity: 0.57;
  animation-delay: 19;
  /*    transition: all 2s ease-out;
     transform: rotateY(0deg) skewY(0deg);
     &:hover {
         transition: all 2s linear;
         transform-origin: center;
         z-index: 0;
         transform: rotateY(90deg) skewY(45deg);
     } */
}
.page-container .animation-container-one .wrapper-bg div:nth-child(20) {
  opacity: 0.6;
  animation-delay: 20;
  /*    transition: all 2s ease-out;
     transform: rotateY(0deg) skewY(0deg);
     &:hover {
         transition: all 2s linear;
         transform-origin: center;
         z-index: 0;
         transform: rotateY(90deg) skewY(45deg);
     } */
}
.page-container .animation-container-one:after {
  content: "";
  z-index: 400;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: transparent;
  animation: prism-bg-header 10s infinite;
  overflow: visible;
}
.page-container .animation-container-one:before {
  content: "";
  z-index: 3000;
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 5px;
  background: transparent;
  animation: prism-bg-header 10s infinite;
  overflow: visible;
}
.page-container .large-filler {
  position: sticky;
  top: 100%;
  left: 0;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  background: blue;
}
.page-container .animation-container-two {
  position: sticky;
  z-index: 600;
  margin: 0;
  left: 0;
  top: 100vh;
  margin-top: 100vh;
  left: 0;
  box-sizing: border-box;
  display: block;
  /*  background: pink; */
  /*   display: flex;
  flex-direction: column; */
  width: 100%;
  max-width: 100%;
  overflow: visible;
}
.page-container.dark {
  animation: prism-bg-main-dark 15s ease-in-out infinite;
  color: hsla(0, 0%, 85%, 0.614);
}

@keyframes prism {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  56% {
    color: blue;
  }
  70% {
    color: indigo;
  }
  100% {
    color: rgb(255, 0, 0);
  }
}
@keyframes prism-bg {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  56% {
    color: blue;
  }
  70% {
    color: indigo;
  }
  100% {
    color: red;
  }
}
@keyframes prism-bg-main {
  0% {
    background: rgba(255, 0, 0, 0.2);
  }
  14% {
    background: rgba(255, 166, 0, 0.163);
  }
  28% {
    background: rgba(129, 129, 5, 0.154);
  }
  42% {
    background: rgba(0, 128, 0, 0.127);
  }
  56% {
    background: rgba(0, 0, 255, 0.178);
  }
  70% {
    background: rgba(76, 0, 130, 0.23);
  }
  100% {
    background: rgba(238, 130, 238, 0.108);
  }
}
@keyframes prism-bg-main-dark {
  0% {
    background: linear-gradient(to right, rgb(32, 11, 11), black 50%);
  }
  14% {
    background: linear-gradient(to right, rgb(32, 24, 11), black 50%);
  }
  28% {
    background: linear-gradient(to right, rgb(32, 11, 11), black 50%);
  }
  42% {
    background: linear-gradient(to right, rgb(32, 30, 11), black 50%);
  }
  56% {
    background: linear-gradient(to right, rgb(11, 32, 14), black 50%);
  }
  70% {
    transition: all 0.5s smooth;
    background: linear-gradient(to right, rgb(11, 31, 32), black 50%);
  }
  100% {
    transition: all 0.5s smooth;
    background: linear-gradient(to right, rgb(31, 11, 32), black 50%);
  }
}
@keyframes prism-bg-header {
  0% {
    background: red;
  }
  14% {
    background: orange;
  }
  28% {
    background: yellow;
  }
  42% {
    background: green;
  }
  56% {
    background: blue;
  }
  70% {
    background: indigo;
  }
  100% {
    background: red;
  }
}/*# sourceMappingURL=home.component.css.map */