/* You can add global styles to this file, and also import other style files */

:root {
  $textSmall: 14px;
  $textMedium: 24px;
  $textLarge: 36px;

  $baseLayer: 0;

  // main layer one (with three z-options)
  $layerOne: 100;
  $layerTwo: 200;
  $layerThree: 300;

  // main layer two (with three z options)
  $upperOne: 400;
  $upperTwo: 500;
  $upperThree: 600;

  $bottomRightShadow: 5px 5px 4px 2px rgba(0, 0, 0, 0.368);
  --text-color: black;
  --hamburger-menu: black;
  --hamburger-close: black;
  --gallery-underline: black;
  --bg-color: white;
  --gallery-selection-bg: lightgray;
}

html,
body {
  position: absolute;
  overflow: visible;
  overflow-x: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "mundial";

  &.dark-theme {
    --text-color: white;
    --hamburger-menu: white;
    --hamburger-close: white;
    --gallery-underline: white;
    --bg-color: black;
    --gallery-selection-bg: rgb(58, 58, 58);
    background: var(--bg-color);
    color: var(--text-color);
  }
}
